.width-slide {
  width: 100%;
  padding: 10px;
}
.team-out{
    width: 100%;
    align-items: center;
    display: flex;
    text-align: center;
}
.slide-name{
  font-size: 15px;
}
.slide-title{
  font-size: 11px;
  margin-bottom: 0;
}
.transform-slide{
    transform: translateX(calc(var(--index) * -50%));
  }
.slide-image{
  height:373px;
}
/* sm: ≥640px */
@media (min-width: 640px) {
  .team-out{
    width: 50%;
    margin-left: 2px;
    align-items: flex-start;
    text-align: left;
    padding: 4px;
  }
  .transform-slide{
    transform: translateX(calc(var(--index) * -50%));
  }
  .width-slide {
  width: 55%;
  padding-left: 20px;
}
  .slide-name{
  font-size: 15px;
}
  .slide-title{
  font-size: 10px;
  margin-bottom: 0;
}
}

/* md: ≥768px */
@media (min-width: 768px) {
  .team-out {
    width: 50%;
    margin-left: 5px;
    padding: 8px 0;
    align-items: flex-start;
    text-align: left;
  }
  .transform-slide{
    transform: translateX(calc(var(--index) * -50%));
  }
  .width-slide {
  width: 55%;
  padding-left: 20px;
}
  .slide-name{
  font-size: 18px;
}
.slide-title{
  font-size: 12px;
  margin-bottom: 0;
}
}

/* lg: ≥1024px */
@media (min-width: 1024px) {
  .team-out {
    width: 50%;
    margin-left: 10px;
    padding: 16px;
    align-items: flex-start;
    text-align: left;
  }
  .transform-slide{
    transform: translateX(calc(var(--index) * -50%));
  }
  .width-slide {
  width: 55%;
  padding-left: 20px;
}
  .slide-name{
  font-size: 20px;
}
.slide-title{
  font-size: 14px;
  margin-bottom: 0;
}
}

/* xl: ≥1280px */
@media (min-width: 1280px) {
  .team-out {
    width: 50%;
    margin-left: 15px;
    padding: 24px;
    align-items: flex-start;
    text-align: left;
  }
  .transform-slide{
    transform: translateX(calc(var(--index) * -79%));
  }
  .width-slide {
  width: 50%;
  padding-left: 20px;
}
  .slide-name{
  font-size: 24px;
}
.slide-title{
  font-size: 16px;
  margin-bottom: 0;
}
}

/* 2xl: ≥1536px */
@media (min-width: 1536px) {
  .team-out {
    width: 50%;
    margin-left: 20px;
    padding: 32px;
    align-items: flex-start;
    text-align: left;
  }
  .transform-slide{
    transform: translateX(calc(var(--index) * -50%));
  }
  .width-slide {
  width: 55%;
  padding-left: 20px;
}
  .slide-name{
  font-size: 24px;
}
.slide-title{
  font-size: 16px;
  margin-bottom: 0;
}
}