.btn-more {
  color: white;
}
/* .background-image {
  backgroundImage: `url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'><path fill='white' d='M0,32L48,53.3C96,75,192,117,288,117.3C384,117,480,75,576,64C672,53,768,75,864,101.3C960,128,1056,160,1152,170.7C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'/></svg>")`;
  backgroundSize: "100% 120px";
} */
.background-image {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'><path fill='white' d='M0,32L48,53.3C96,75,192,117,288,117.3C384,117,480,75,576,64C672,53,768,75,864,101.3C960,128,1056,160,1152,170.7C1248,181,1344,171,1392,165.3L1440,160L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z'/></svg>");
  background-size: 100% 45px; /* wave height */
}
/* sm: ≥640px */
@media (min-width: 640px) {
  .background-image {
   background-size: 100% 85px; /* wave height */
  }
}

/* md: ≥768px */
@media (min-width: 768px) {
  .background-image {
   background-size: 100% 100px; /* wave height */
  }
}

/* lg: ≥1024px */
@media (min-width: 1024px) {
  .background-image {
   background-size: 100% 100px; /* wave height */
  }
}

/* xl: ≥1280px */
@media (min-width: 1280px) {
  .background-image {
   background-size: 100% 110px; /* wave height */
  }
}

/* 2xl: ≥1536px */
@media (min-width: 1536px) {
  .background-image {
   background-size: 100% 120px; /* wave height */
  }
}
 