.parent > * + * {
  margin-top: 10px; /* 1.25rem = 20px, Tailwind's "5" scale */
}
.btn-more {
  font-size: 8px;
}
/* sm: ≥640px */
@media (min-width: 640px) {
  .btn-more{
    font-size: 10px;
  }
}

/* md: ≥768px */
@media (min-width: 768px) {
  .btn-more {
    font-size: 12px;
  }
}

/* lg: ≥1024px */
@media (min-width: 1024px) {
  .btn-more {
    font-size: 14px;
  }
}

/* xl: ≥1280px */
@media (min-width: 1280px) {
  .btn-more {
    font-size: 16px;
  }
}

/* 2xl: ≥1536px */
@media (min-width: 1536px) {
  .btn-more {
    font-size: 18px;
    padding: 0;
  }
}